body, body *, h1, table {
  font-family: Arial;
}

body {
  margin: 0 !important;
  background-color: #e8e9eb;
}

h1 {
  margin: 0 auto 1rem auto;
  padding: 1rem;
  color: white;
  background-color: #D2161E;
}
