.ranking {
  margin: 0 2rem;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0,0,0,.15);
  max-width: 40%;
}

.ranking table {
  width: 100%;
  border-collapse: collapse;
}

.ranking table thead tr th {
  color: white;
  background-color: #292929;
}

.ranking table thead tr th:first-child {
  border-top-left-radius: 4px;
}

.ranking table thead tr th:last-child {
  border-top-right-radius: 4px;
}

.ranking table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

.ranking table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

.ranking table thead th, .ranking table tbody td {
  padding: .5rem;
  background-color: white;
}

.ranking table tbody tr:first-child td {
  background-color: #33ae33;
  color: white;
  font-weight: bold;
}

.ranking table thead tr th:nth-child(1), .ranking table tbody tr td:nth-child(1) {
  text-align: left;
}

.ranking table thead tr th:nth-child(2), .ranking table tbody tr td:nth-child(2) {
  text-align: right;
}

.ranking table thead tr th:nth-child(3), .ranking table tbody tr td:nth-child(3) {
  text-align: center;
}
