<h1>Player's ranking</h1>
<div class="ranking">
  <table *ngIf="players.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Rank</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <td>{{player.name}}</td>
        <td>{{player.score}}</td>
        <td>#{{player.rank}}</td>
      </tr>
    </tbody>
  </table>
</div>
